pipeline/Copfile csv.json
{
	"name": "Copfile csv",
	"properties": {
		"activities": [
			{
				"name": "Get FileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Csvfiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachfile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get FileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get FileNames').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopycsvfileActivity_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Seq",
												"type": "String"
											},
											"sink": {
												"name": "Seq",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "credit.policy",
												"type": "String"
											},
											"sink": {
												"name": "credit.policy",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "purpose",
												"type": "String"
											},
											"sink": {
												"name": "purpose",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "int.rate",
												"type": "String"
											},
											"sink": {
												"name": "int.rate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "installment",
												"type": "String"
											},
											"sink": {
												"name": "installment",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "log.annual.inc",
												"type": "String"
											},
											"sink": {
												"name": "log.annual.inc",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dti",
												"type": "String"
											},
											"sink": {
												"name": "dti",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "fico",
												"type": "String"
											},
											"sink": {
												"name": "fico",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "days.with.cr.line",
												"type": "String"
											},
											"sink": {
												"name": "days.with.cr.line",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "revol.bal",
												"type": "String"
											},
											"sink": {
												"name": "revol.bal",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "revol.util",
												"type": "String"
											},
											"sink": {
												"name": "revol.util",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "inq.last.6mths",
												"type": "String"
											},
											"sink": {
												"name": "inq.last.6mths",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "delinq.2yrs",
												"type": "String"
											},
											"sink": {
												"name": "delinq.2yrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "pub.rec",
												"type": "String"
											},
											"sink": {
												"name": "pub.rec",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "not.fully.paid",
												"type": "String"
											},
											"sink": {
												"name": "not.fully.paid",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Inputcsvfile",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Outputcsvfile",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}